.card{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://envato-shoebox-0.imgix.net/e79c/917f-1708-4cbe-b599-ec1049baed0e/59.jpg?auto=compress%2Cformat&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&w=800&fit=max&markalign=center%2Cmiddle&markalpha=18&s=e08f1237b6566f4ea90ff963e0d5308b");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}